body .reveal
{
	font-family: arial,sans-serif;
	height:100%;
	width:100%;
	margin:0;
	padding:0;
	background-color: #FFFFFF;
	font-size: 1.7em; /* taille de la police */
	line-height: 150%;
}
a, a:visited
{
	color:#1D6CB1;
	text-decoration:none;
}
a:hover
{
	text-decoration:underline;
}
h1 {
	color: white;
}
.reveal p, .reveal li {
	line-height: 1.5;
}
.reveal .controls div.navigate-left {
	border-right-color: #CCC;
}
.reveal .controls div.navigate-right {
	border-left-color: #CCC;
}
.reveal .progress {
	height: 10px;
	background-color: white;
}
.reveal .progress span {
	background-color: #02538a;
}
.reveal .alignLeft {
	text-align: left;
}
.reveal .image {
	box-shadow: 0 0 10px 0 #000;
	border-radius: 5px;
	width: 70%;
}